---
// src/layouts/Layout.astro
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { Analytics } from '@vercel/analytics/react';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>line101chat</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <Analytics />
  </body>
</html>
