---
// src/layouts/Layout.astro
import { inject } from '@vercel/analytics';
inject();
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>line101chat</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
